PORT=5000
MONGO_URI=mongodb://lipakshirana36_db_user:jwXlsIhPW6Jx0IN3@ac-hucdxiz-shard-00-00.wsh0hk0.mongodb.net:27017,ac-hucdxiz-shard-00-01.wsh0hk0.mongodb.net:27017,ac-hucdxiz-shard-00-02.wsh0hk0.mongodb.net:27017/blogcms?ssl=true&replicaSet=atlas-5h8vr6-shard-0&authSource=admin
JWT_SECRET=my_super_secret_jwt_key_2026_change_this
CLIENT_URL=http://localhost:5173
